body {
	background-color: black;
}

#master {
	width: 1080px;
	height: 100vh;
	background-color: white;
	margin:auto;
}

.row {
	width: 1080px;
	margin: auto;
}

/* dimension formatting for two main columns */

#weeklyCol {
	height: 93vh;
}

#textCol {
	height: 93vh;
	width: 490px;
}
textarea.form-control {
	height: 93vh;
	width: 490px;
}

.headerSpacing {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;	
	margin-top: 0px;
	margin-bottom: 0px;
}

.base {
	background: #B0E0D2;
	display: inline-block;
	height: 33px;
	margin-left: 1px;
	margin-top: 10px;
		position: relative;
		width: 60px;
}

.base:before {
	border-top: 15px solid #B0E0D2;
	border-right: 30px solid transparent;
	border-left: 30px solid transparent;
	content:"";
	height: 0;
	left: 0;
	position: absolute;
	bottom: -15px;
	width: 0;
}

#monthNum {
	padding-top: 1px;
	padding-left: 20px;
	color: white;
}

.leftPadding {
	padding-left: 32px;
}

/* not used right now */
.borderStyle {
	border-color: #AAA;	
	margin-top: 0px;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* borders for calendar week */

.borderText {
	border-left: 1px solid #AAA;
	border-top: 1px solid #AAA;
	overflow: auto;
	width: 405px;
	height: 12.20vh;
}

.borderDay {
	border-top: 1px solid #AAA;
	margin-left: 10px;
	width: 95px;
}

/* checkboxes http://bootsnipp.com/snippets/featured/checkboxradio-css-only */
.checkbox {
	margin: 0px;
	padding: 0px;
}

.btn span.glyphicon {    			
	opacity: 0;				
}

.btn.active span.glyphicon {				
	opacity: 1;				
}

.monthDay {
	padding: 3px 0px 0px 0px;
	margin: 0px;
}

.day {
	padding: 4.5px 0px 0px 0px;
	margin: 0px;
}
